<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Reddit Assessment Main Page</h1>
    <div>
        <a href="/users">View All Users</a>
    </div>
    <div>
     <a href="/users/new">Create New User</a>
    </div>
    <div>
     <a href="/posts">View All Posts</a>
    </div>
</body>
</html>
