<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Delete User</h1>
<form action="/users/<%= user.id %>?_method=DELETE" method="POST">
  <p>Are you sure you want to delete <%= user.username %>?</p>
  <input type="submit" name="Delete User" />
</form>
<div>
  <a href="/">Back to Main Page</a>
</div>
</body>
</html>
