<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <h1>All Users</h1>
  <ul>
    <% users.forEach(function(user){ %>
       <li><%= user.fullname %> <a href="/users/<%= user.id %>">View</a> <a href="/users/<%= user.id %>/edit">Edit</a> <a href="/users/<%= user.id %>/delete">Delete</a></li>
    <% }); %>
  </ul>
  <a href="/">Back to Main Page</a>
</body>
</html>

<%# show all users %>
