<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Add a New User </h1>
  <form action="/users" method="POST">
    <label>Full Name:</label>
    <input type="text" name="user[fullname]" autofocus required />
    <label>Username:</label>
    <input type="text" name="user[username]" required />
    <input type="submit" name="Create New User" />
  </form>
  <a href="/">Back to Main Page</a>
</body>
</html>
