<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>View <%= user.fullname %></h1>
  <ul>
      <li>Full Name: <%= user.fullname %></li>
      <li>Image URL: <%= user.username %></li>
      <li><a href="/users/<%= user.id %>/edit">Edit user</a></li>
      <li><a href="/">Back to Main Page</a></li>
  </ul>
</body>
</html>
